
  <div class="row bg-light">
    <div class="col-md-12">
        <form  (ngSubmit)="add()">
            <div class="form-group">
              <label for="title">文章名称</label>
              <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="请输入名称" 
                [(ngModel)]="article.title" required minlength="2"
               name="title" placeholder="请输入名称" #title="ngModel">
            <div *ngIf="title.errors">
                <div  *ngIf="title.errors.required" class="alert alert-warning" role="alert">
                    名称不能为空.
                </div>
                <div  *ngIf="title.errors.minlength" class="alert alert-primary" role="alert">
                    长度不能小于2.
                </div>
            </div>
            </div>
            <div class="form-group">
              <label for="url">文章网址</label>
              <input type="url" class="form-control" id="url" placeholder="请输入网址" name='url'
               [(ngModel)]="article.url" required #url='ngModel' forbiddenUrl='^https?:\/\/'>
            <div  *ngIf="url.errors">
                <div  *ngIf="url.errors.required" class="alert alert-warning" role="alert">
                    网址不能为空.
                </div>
                <div  *ngIf="!url.errors.required && !url.errors.forbiddenUrl " class="alert alert-primary" role="alert">
                    网址不合法.
                </div>
            </div>
            </div>
            <!-- {{url.errors | json}} -->
            <button type="submit" class="btn btn-success float-right" 
             [disabled]='title.errors || url.errors'>添加</button>
          </form>
    </div>
  </div>
